@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", "Helvetica Neue", sans-serif;
}

h1 {
  font-size: 40px;
  font-weight: 700;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scroll-bar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.will-appear {
  @apply opacity-0 duration-1000 ease-out
}
.app-loaded .will-appear   {
  @apply translate-x-0 translate-y-0 opacity-100
}